<html>
    <body> 
        <nav>
            <ul>
                <li><a href="/auth/login"></a>Login</li>
                <li><a href="/auth/logout"></a>Logout</li>
                <li><a href="/"></a>Home</li>
            </ul>
        </nav>
        <main>
            <a href="/auth/twitter">Sign in with Twitter</a>
        </main>
    </body>
</html>